@model IEnumerable<LibraryManagement.ViewModels.UserVeiwModel>

@{
    ViewData["Title"] = "Users";
}



<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="text-primary text-center mb-0">Users</h2>
            <a asp-action="AddUser" class="btn btn-primary">Add New Employee</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary">Username</th>
                        <th class="text-primary">Email</th>
                        <th class="text-primary">Phone Number</th>
                        <th class="text-primary">Roles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Roles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>