@model IEnumerable<LibraryManagement.ViewModels.EmailTemplateViewModel>
@{
    ViewData["Title"] = "Email Templates";
    ViewData["ActionUrl"] = "Templates";
    ViewData["ActionName"] = "Templates";
    bool showSuccessMessage = ViewBag.SuccessMessage != null;
}
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
            <h2 class="text-primary mb-0">Email Templates</h2>
        </div>
        <table>
            <tr>
                @await Html.PartialAsync("_SearchForm", ViewData["CurrentSearchString"] as string)
            </tr>
        </table>
        <div class="table-responsive wide-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @await Html.PartialAsync("_SortableHeader", Tuple.Create("TemplateName", "TemplateName"))
                        <th class="text-primary text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var template in Model)
                    {
                        <tr>
                            <td class="text-center">@template.TemplateName</td>
                            <td class="text-center">
                                <a asp-action="EditTemplate" asp-route-id="@template.Id" class="btn btn-primary btn-sm">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>