@{
    ViewData["Title"] = "Check Email";
}



<h1 class="mt-5" style="font-size:18px; color:#fefefe;">Check Your Email</h1>
<p style="font-size:18px; color:#fefefe;">
    An email has been sent to your registered email address with instructions
    to reset your password. 
    Please check your email and follow the provided link to reset your password.</p>