@{
    ViewData["Title"] = "Check Email";
}

<h2>Check Your Email</h2>
<p>An email has been sent to your registered email address with instructions
    to reset your password. 
    Please check your email and follow the provided link to reset your password.</p>