@model LibraryManagement.ViewModels.ForgotPasswordViewModel

@if (TempData["ErrorMessages"] != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var errorMessage in (List<string>)TempData["ErrorMessages"])
            {
                <li>@errorMessage</li>
            }
        </ul>
    </div>
}


<div class="row justify-content-center align-items-center min-vh-90">
    <div class="col-md-4">
        <div class="card border-primary" style="border-width: 5px; border-radius: 30px; background-color: #FCF7FF;">
            <div class="card-body">
                <h2 class="text-primary text-center mb-4">Reset Password</h2>
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <label class="controle-label text-primary" asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                    
                </form>
            </div>
        </div>       
    </div>
</div>


