<h1 class="mt-5" style="font-size:18px; color:#fefefe;">Reset Password Confirmation</h1>
<p style="font-size:18px; color:#fefefe;">You Have been Registered successfully. You can now <a asp-action="Login">log in</a> with your new Account.</p>