@model LibraryManagement.ViewModels.ResetPasswordViewModel

@if (TempData["ErrorMessages"] != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var errorMessage in (List<string>)TempData["ErrorMessages"])
            {
                <li>@errorMessage</li>
            }
        </ul>
    </div>
}



<input type="hidden" name="ShowNavbar" value="@ViewData["ShowNavbar"]" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card border-primary" style="border-width: 5px; border-radius: 30px; background-color: #FCF7FF;">
                <div class="card-body">
                    <h2 class="text-primary text-center mb-4">Reset Password</h2>
                    <form asp-action="ResetPassword" asp-controller="Account" method="post">
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="email" />
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label text-primary"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label text-primary"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

