@model LibraryManagement.ViewModels.ResetPasswordViewModel

<h2>Reset Password</h2>

@if (TempData["ErrorMessages"] != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var errorMessage in (List<string>)TempData["ErrorMessages"])
            {
                <li>@errorMessage</li>
            }
        </ul>
    </div>
}


<form asp-action="ResetPassword" method="post">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>