USE [LibraryManagement]
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyLostBooksReport]    Script Date: 05.09.2024 09:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMonthlyLostBooksReport]
    @StartDate DATE,
    @EndDate DATE,
    @ReportType VARCHAR(50)
AS
BEGIN
    DECLARE @SQL NVARCHAR(MAX)
    SET @SQL = 
    'SELECT ' +
    CASE 
        WHEN @ReportType = 'Books' THEN 'b.Title AS Name, '
        WHEN @ReportType = 'Authors' THEN 'CONCAT(a.FirstName, '' '', a.LastName) AS Name, '
        WHEN @ReportType = 'Publishers' THEN 'p.PublisherName AS Name, '
        WHEN @ReportType = 'Genres' THEN 'c.Title AS Name, '
    END +
    'SUM(CASE WHEN MONTH(r.CheckoutTime) = 1 THEN 1 ELSE 0 END) AS January,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 2 THEN 1 ELSE 0 END) AS February,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 3 THEN 1 ELSE 0 END) AS March,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 4 THEN 1 ELSE 0 END) AS April,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 5 THEN 1 ELSE 0 END) AS May,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 6 THEN 1 ELSE 0 END) AS June,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 7 THEN 1 ELSE 0 END) AS July,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 8 THEN 1 ELSE 0 END) AS August,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 9 THEN 1 ELSE 0 END) AS September,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 10 THEN 1 ELSE 0 END) AS October,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 11 THEN 1 ELSE 0 END) AS November,
     SUM(CASE WHEN MONTH(r.CheckoutTime) = 12 THEN 1 ELSE 0 END) AS December,
     SUM(CASE WHEN MONTH(r.CheckoutTime) BETWEEN 1 AND 12 THEN 1 ELSE 0 END) AS TotalLostBooks
    FROM dbo.ReservationItem ri
    INNER JOIN dbo.Reservations r ON ri.ReservationId = r.ReservationId
    INNER JOIN dbo.BookCopies bc ON ri.BookCopyID = bc.BookCopyId
    INNER JOIN dbo.Books b ON bc.OriginaBookId = b.BookId ' +
    CASE 
        WHEN @ReportType = 'Authors' THEN 
            'INNER JOIN dbo.BookAuthor ba ON b.BookId = ba.BookId
             INNER JOIN dbo.Author a ON ba.AuthorId = a.AuthorId '
        WHEN @ReportType = 'Publishers' THEN 
            'INNER JOIN dbo.Publishers p ON bc.PublisherId = p.PublisherId '
        WHEN @ReportType = 'Genres' THEN 
            'INNER JOIN dbo.BookCategories bcat ON b.BookId = bcat.BookId
             INNER JOIN dbo.Category c ON bcat.CategoryId = c.CategoryId '
        ELSE ''
    END +
    'WHERE r.CheckoutTime BETWEEN @StartDate AND @EndDate
     AND bc.Status = 2  
    GROUP BY ' +
    CASE 
        WHEN @ReportType = 'Books' THEN 'b.Title'
        WHEN @ReportType = 'Authors' THEN 'a.FirstName, a.LastName'
        WHEN @ReportType = 'Publishers' THEN 'p.PublisherName'
        WHEN @ReportType = 'Genres' THEN 'c.Title'
    END +
    ' ORDER BY TotalLostBooks DESC'
    
    EXEC sp_executesql @SQL, N'@StartDate DATE, @EndDate DATE', @StartDate, @EndDate
END
GO
