USE [LibraryManagement]
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyRegistrations]    Script Date: 05.09.2024 09:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMonthlyRegistrations]
    @Year INT
AS
BEGIN
    WITH AllMonths AS (
        SELECT 1 AS Month
        UNION SELECT 2 UNION SELECT 3 UNION SELECT 4
        UNION SELECT 5 UNION SELECT 6 UNION SELECT 7
        UNION SELECT 8 UNION SELECT 9 UNION SELECT 10
        UNION SELECT 11 UNION SELECT 12
    )
    SELECT
        CASE AM.Month
            WHEN 1 THEN 'January'
            WHEN 2 THEN 'February'
            WHEN 3 THEN 'March'
            WHEN 4 THEN 'April'
            WHEN 5 THEN 'May'
            WHEN 6 THEN 'June'
            WHEN 7 THEN 'July'
            WHEN 8 THEN 'August'
            WHEN 9 THEN 'September'
            WHEN 10 THEN 'October'
            WHEN 11 THEN 'November'
            WHEN 12 THEN 'December'
        END AS MonthName,
        COUNT(C.CustomerID) AS Registrations
    FROM
        AllMonths AM
    LEFT JOIN
        Customer C ON MONTH(C.CreatedDate) = AM.Month
                    AND YEAR(C.CreatedDate) = @Year
    GROUP BY
        AM.Month
    ORDER BY
        AM.Month;
END;
GO
