@model LibraryManagement.ViewModels.Library.ViewModels.ModifyBookCopiesViewModel

<div class="modal fade" id="addQuantityModal" tabindex="-1" role="dialog" aria-labelledby="addQuantityModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyQuantityModalLabel">Modify Book Copies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="ModifyBookCopies" method="post">
                <div class="modal-body">
                    <input type="hidden" asp-for="OriginalBookId" id="OriginalBookId" />
                    <input type="hidden" asp-for="PublisherId" id="PublisherId" />
                    <input type="hidden" asp-for="Edition" id="Edition" />
                    <input type="hidden" asp-for="RoomId" id="RoomId" />
                    <input type="hidden" asp-for="ShelfId" id="ShelfId" />
                    <input type="hidden" asp-for="BookCopyShelfId" id="BookCopyShelfId" />


                    <div class="form-group">
                        <label asp-for="State">Action:</label>
                        <select asp-for="State" class="form-control">
                            <option value="Added">Add</option>
                            <option value="Deleted">Delete</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="QuantityModified">Quantity:</label>
                        <input asp-for="QuantityModified" class="form-control" min="1" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="Message">Reason:</label>
                        <textarea asp-for="Message" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>