@model IEnumerable<(string displayName, string column)>
@{
    var sortBy = ViewBag.SortBy;
    var sortOrder = ViewBag.SortOrder;
    var currentSearchString = ViewData["CurrentSearchString"] as string;
    var actionName = ViewData["ActionName"] as string;
    var currentPage = ViewBag.CurrentPage ?? 1;
}

@foreach (var (displayName, column) in Model)
{
    <th class="text-primary text-center">
        @{
            string nextSortOrder = (sortBy != column || sortOrder == column + "_Default") ? column + "_Asc" :
            (sortOrder == column + "_Asc") ? column + "_Desc" : column + "_Default";

            var routeValues = new Dictionary<string, object>
                {
                    ["sortBy"] = column,
                    ["sortOrder"] = nextSortOrder,
                    ["SearchString"] = currentSearchString
                };

            if (ViewBag.IsPaginated == true)
            {
                routeValues["page"] = currentPage;
            }
        }
        <a href="@Url.Action(actionName, routeValues)" class="text-primary">
            @displayName
            <i class="fas fa-@(sortBy == column ? (sortOrder == column + "_Asc" ? "arrow-up" : sortOrder == column + "_Desc" ? "arrow-down" : "sort") : "sort")"></i>
        </a>
    </th>
}