@model IEnumerable<LibraryManagement.ViewModels.Reports.MonthlyRegistrationViewModel>

<div class="table-responsive mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Month</th>
                <th class="text-center">Registrations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.MonthName</td>
                    <td class="text-center">@item.Registrations</td>
                </tr>
            }
        </tbody>
    </table>
</div>